@import '../breakpoints.module.scss';

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;

  @include from-tablet {
    flex-direction: row;
  }
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--spacing-m);
  margin-right: var(--spacing-l);

  @include from-tablet {
    margin-bottom: var(--spacing-s);
  }

  &-results {
    color: white;
    font-family: var(--font-primary);
    font-size: var(--font-s);
    font-weight: bold;
    background-color: var(--color-primary);
    margin-right: var(--spacing-m);
    padding: 6px 8px;
    border-radius: 8px;
    width: 5ch;
    text-align: center;
  }

  &-bar {
    display: block;
    padding: 12px 16px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: var(--shadow);

    &::placeholder {
      font-family: var(--font-primary);
      font-weight: bold;
      font-size: var(--font-s);
      color: rgb(180, 180, 180);
    }
  }
}
