@import '../breakpoints.module.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  box-shadow: var(--shadow);
  margin: 0 var(--spacing-l);
  height: fit-content;

  @include from-desktop {
    width: 380px;
  }

  &-image {
    width: 200px;
    height: 200px;
  }

  &-info {
    width: 100%;
    margin-top: var(--spacing-l);
  }

  &-description {
    margin-top: var(--spacing-l);
  }

  a {
    text-decoration: none;

    &:hover {
      color: var(--color-primary)
    }
  }
}

.font-italic {
  font-style: italic;
}
