:root {
  --shadow: 0 0 8px 0em #c9c9c9;

  --font-primary: sans-serif;
  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 20px;
  --font-xl: 32px;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;

  --color-primary: #0c6bc5;
}
