@import '../../styles/breakpoints.module.scss';

.header {
  margin: var(--spacing-l);
  padding: 8px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include from-desktop {
    padding: 12px 12px 12px 24px;
  }
}

.title {
  font-family: var(--font-primary);
  font-size: var(--font-l);
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: none;
}
